@import '../css/mixin.scss';
@import '../css//variable.scss';
@import '../css//responsive.scss';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
    font-size: 62.5%;
    letter-spacing: 0.05rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1;
}

p {
    margin: 0;
}

h2 {
    font-size: 2.2rem;
    text-transform: uppercase;
    margin: 0;
}

.section-item {
    border-bottom: 1px solid $whiteColor;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

a {
    color: $whiteColor;
    padding-bottom: 0rem;
    text-decoration: none;
    margin-left: 0.5rem;
    border-bottom: 0.1rem solid $whiteColor;
}

hr {
    width: 70%;
    margin-bottom: 2rem;
}

.wrapper-web {
    color: $whiteColor;
    background: $blackColor;
    padding: 2rem;

    .container {
        width: 1140px;
        margin-inline: auto;

        .profile-wrapper {

            .profile {

                .profile-header {
                    width: 100%;
                    border-bottom: 0.1rem solid $whiteColor;
                    padding-bottom: 2rem;

                    .profile-title {

                        h1 {
                            text-transform: uppercase;
                            margin: 0;
                            font-size: 3rem;
                        }

                        .profile-position {
                            padding-top: 1rem;
                        }
                    }

                    .profile-infor {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;


                        &-list {

                            display: flex;
                            flex-wrap: wrap;

                            .profile-item {
                                width: 50%;

                                p {
                                    margin: 1rem 0;
                                }
                            }
                        }

                        .infor-img-box {
                            width: 160px;
                            height: 100%;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }

                .profile-body {
                    .section-title {
                        padding-bottom: 2rem;
                    }

                    .section-box {

                        .section-content-title {
                            padding-bottom: 1rem;
                        }

                        .section-content {
                            p {
                                line-height: 1.5;
                            }

                            .project-box {

                                .project-box-item:not(:last-child) {
                                    margin-bottom: 2rem;
                                }

                                .project-box-item {
                                    .project-title {
                                        display: flex;
                                        justify-content: space-between;

                                        a {
                                            text-transform: uppercase;                                     
                                        }

                                    }

                                    .project-content {

                                        .project-content-item {
                                            margin: 0.5rem 0;
                                        }

                                        .project-component-details {
                                            display: flex;
                                            align-items: baseline;

                                            .project-component-item-name {
                                                margin-left: 1rem;
                                            }
                                        }
                                    }
                                }


                            }
                        }
                    }
                }
            }

        }

        .footer {
            padding-top: 2rem;

            p {
                text-align: center;
            }

        }
    }


}